* {
  margin: 0;
  padding: 0;
  
}

main{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/about-us.jpg);
    


  }
  .contenedor{
    padding-top: 6;
    margin-top: 8;
    
  }
  
  
  
  .titulo{
    color: rgb(255, 255, 255);
  }
  
  .card {
    position: relative;
    width: 320px;
    height: 400px;
    margin: 40px;
    background-color: transparent ;
  }

  @media (max-width: 653px)  {
    .card {
    width: 250px;
}
  }
 
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
  }
  
  .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  
  .card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
  }
  
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(3deg, rgba(163,184,33,1) 0%, rgba(195,34,34,1) 37%, rgba(182,33,33,1) 50%, rgba(182,180,33,1) 100%);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 10px 10px #000;
  }
  
  
  .card .back h3 {
    font-size: 30px;
    margin-top: 1px;
    letter-spacing: 2px;
  }
  
  .card .back p {
    letter-spacing: 2px;
  } 
  
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  
  

   
  
  
  

    
    
    
      