html {
    gap:0px;
}
body {
    background: rgb(2,0,24);
background: linear-gradient(90deg, rgba(2,0,24,1) 0%, rgba(5,4,70,1) 25%, rgba(9,9,121,1) 50%, rgba(5,4,70,1) 75%, rgba(2,0,24,1) 100%);
}
.carousel-inner {
    margin-top: 0px;
}
#saludo {
    animation: giro 5s;
}
#globo1 {
    animation: globo1 15s;
    overflow: hidden;
    cursor: pointer;
}
#globo2 {
    animation: globo2 15s;
    overflow: hidden;
    cursor: pointer;
}
@keyframes giro {
    100% {transform: rotate(360deg)}
}
@keyframes globo1 {
    50% {transform: translateY(30px) translateX(-30px)}
    0% {opacity: 0};
    100% {opacity: 0};
}
@keyframes globo2 {
    50% {transform: translateY(-30px) translateX(30px)}
    0% {opacity: 0};
    100% {opacity: 0};
}
@keyframes fadeIn {
    0% {opacity: 0};
    100% {opacity: 0};
}
a {
    text-decoration: none;
    color:white;
}


#categoriaShooters #sectionshooter img {
    width:100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
#categoriaShooters #sectionshooter img:hover {
    transform:scale(1.1)
}
#bordeproducto {
    width: 150px;
    height: 200px;
}
@media screen and (max-width: 600px) {
    #categoriaShooters #sectionshooter img {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


img{
    width: 170px;
}
.modal-header {
   background-image: url(../img/DaysGone.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
}

.modal-body{
    background-color: rgb(17, 17, 17);
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-footer{
    background: rgb(2,0,24);
background: linear-gradient(90deg, rgba(2,0,24,1) 0%, rgba(5,4,70,1) 25%, rgba(9,9,121,1) 50%, rgba(5,4,70,1) 75%, rgba(2,0,24,1) 100%);
}

.modal-content{
    width: 80%;
}